/**
 * @name nj
 * @author Gibbu
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @BDEditor Frosted Glass
*/

@import url('https://discordstyles.github.io/FrostedGlass/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://cdn.discordapp.com/attachments/1324405899598761985/1460996958574608566/image0.jpg?ex=6968f2f2&is=6967a172&hm=165c6a945f9dc30436ddbc08fcca155e5236319ac6675aed1b2e04fc005ec2e1&');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://cdn.discordapp.com/attachments/1324405899598761985/1460996958574608566/image0.jpg?ex=6968f2f2&is=6967a172&hm=165c6a945f9dc30436ddbc08fcca155e5236319ac6675aed1b2e04fc005ec2e1&');
  --popout-image-blur: 5px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.5;
  --left-brightness: 0.5;
  --middle-brightness: 0.5;
  --right-brightness: 0.5;
  --overlay-brightness: 0.5;
  --gradient-primary: 128, 0, 128;
  --gradient-secondary: 85, 26, 139;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 0px;
  --window-roundness: 0px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


